body{
background:#444;
}
#top-wr{
	width:1100px;
	height:80px;
	margin:0px auto;
	background:#000;

}
#top-wr img{
	display:block;
	float:left;
}
#top-wr input[type=text]{
	width:400px;
	height:40px;
	font-size:21px;

}
#top-wr input[type=submit]{
	width:80px;
	height:40px;
	float:right;

}

#top-wr form{
	width:480px;
	display:block;
	float:left;
	margin-top: 20px;
}
#accountandcart{
	width:200px;
	height:80px;
	background:#000;
	float:right;
}

#accountandcart img{
	margin-left:40px;
	margin-top:20px;
}

#body-wr{
	width:1100px;
	min-height:1000px;
	background:#fff;
	margin:0px auto;

}

.main-placer{
	width:1000px;
	height:100px;
	margin:0px auto;
	border-bottom:1px solid #ccc;
	font-weight:bold;
}
.indexName{
	text-align:center;
	width:150px;
	float:left;
	height:45px;
	padding-top:35px;
}
.indexCost{
	text-align:center;
	width:150px;
	float:left;
	height:45px;
	padding-top:35px;
}
.indexQuantity{
	text-align:center;
	width:150px;
	float:left;
	height:45px;
	padding-top:35px;
}
.indexForm{
	height:45px;
	padding-top:35px;
	width:200px;
	float:right;
}

.indexRating{
	float:left;
	width:100px;
	height:45px;
	padding-top:35px;
	float:float;
}

.indexRating span{
	font-size:16px;
	text-shadow:2px 2px 4px #444;
}

#indexTopPlacer{
	width:1000px;
	height:20px;
	margin:0px auto;
	padding-top:25px;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	color:#999;
}
#indexTopPlacer :nth-child(1){
	text-align:center;
	height:20px;
	width:95px;
	float:left;
}
#indexTopPlacer :nth-child(2){
	text-align:center;
	height:20px;
	width:150px;
	float:left;
}
#indexTopPlacer :nth-child(3){
	text-align:center;
	height:20px;
	width:150px;
	float:left;
}
#indexTopPlacer :nth-child(4){
	text-align:center;
	height:20px;
	width:150px;
	float:left;
}
#indexTopPlacer :nth-child(5){
	text-align:left;
	height:20px;
	width:150px;
	float:left;
	margin-left:10px;
}
.main-placer img{
	margin-left:20px;
	margin-top:10px;
	float:left;
	display:block;
}

.main-placer input[type=submit]{
	width:150px;
	height:30px;
	float:right;
	
	display:block;
	background-color:#009500;
	border:	1px solid #006300;
	font-weight:bold;
	color:#fff;
	border-right:none;
}

.main-placer input[type=number]{
	width:50px;
	height:29px;
	float:right;

}
.linktoprod, .linktoprod:visited{
	color:#000;
	text-decoration:none;
}
.smallpic{
		width:80px;
		height:80px;
}
.login{
	float: left;
}

.dropdown{
	float: right;
	display: inline-block;
	padding-right: 45px; //Flytta login iconen här
}
.dropdown-content{
	display: none;
	position: absolute;
    background-color: #fff; //#f9f9f9
    width: auto;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown .dropdown-content a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	line-height: 30px;
	//margin-right: -160px; //ful fix för att centrera texten
}

.dropdown .dropdown-content a:hover{
	text-decoration: underline;
}


.cart-placer{
	width:1000px;
	height:100px;
	margin:0px auto;
	border-bottom:1px solid #ccc;
	font-weight:bold;
	text-align:center;
}

.cart-placer img{
	display:block;
	float:left;
}

.cartName{
	float:left;
	width:100px;
	padding-top:40px;
	height:40px;
}
.cartCost{
	float:right;
	width:100px;
	padding-top:40px;
	height:40px;
	margin-right:50px;
}
.cartQuant{
	float:right;
	width:100px;
	padding-top:40px;
	height:40px;
	margin-right:50px;
}

.cart-placer input[type=submit]{
	border: none;
	background: transparent;
	cursor: pointer;
	width:24px;
	height:24px;
	margin-top:36px;
	margin-right:50px;
	background-image: url("../img/trash.png");
	float:right;
}
.cart-placer form{'

	display:block;
	float:right;
}
#cartsummary{
	width:1000px;
	height:100px;
	margin:0px auto;
	border-bottom:1px solid #ccc;
}

.menuBox {
	border-style: solid;
	border-color: #000000;
    background-color: #444;
	display: inline-block;
    color: white;
	width: auto%;
	height: auto%;
	
	padding-right: 10px;
	padding-left: 10px;
	
	/*
	
	*/
}

.menuBox a{
	text-decoration: none;
}

.menuClose {
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.menuClose:hover {
    color: #000000;
}

/* message box när beställning är gjord*/
.alert {
	border-style: solid;
	border-color: #000000;
    background-color: #4CAF50;
    color: white;
	display: inline-block;
<<<<<<< HEAD
	width: 300px;
	height: 80px;
=======
	width: auto%;
	height: auto%;
>>>>>>> f3a66f21f29c8aebcbaf45605e2ab8bd0c85dac0
	font-size: 22px;
    line-height: 25px;

	padding-right: 10px;
	padding-left: 10px;
}

.alert a {
	text-decoration: none;
}

.errAlert {
	border-style: solid;
	border-color: #000000;
    background-color: #f44336;
    color: white;
	display: inline-block;
	width: auto%;
	height: auto%;
	font-size: 22px;
    line-height: 25px;

	padding-right: 10px;
	padding-left: 10px;
}

.errAlert a {
	text-decoration: none;
}

/* message box knapp   */
.closebtn {
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    transition: 0.3s;
}

/* knapp hover effekt */
.closebtn:hover {
    color: #000000;
}
/* Produktsidan */
.productDesc{

	width:900px;
	height:400px;
	margin:0px auto;
	border-bottom:1px solid #ccc;
}
.productDesc img{
		display:block;
		float:left;
		width:300px;
		height:300px;
}

.productDesc p{
	width:400px;
	margin-top:30px;
	height:150px;
	float:right;
	margin-left:100px;

}
.headerholder{

	width:400px;
	height:40px;
	text-align:center;
	float:right;
}
.buynowbox{
	margin-right:50px;
	float:right;
	width:300px;
	height:140px;
	background-color:#ddd;
	border:1px solid #ccc;
	text-align:center;

}
.buynowbox span{
	font-size:32px;
	font-weight:bold;
}

.specBuyBtn{
	display:block;
	margin:10px auto 0px auto;
	width:250px;
	height:50px;
	background-color:#009500;
	border:	1px solid #006300;
	font-weight:bold;
	color:#fff;
}

#comments-box{
	width:900px;
	min-height:150px;

	margin:0px auto;
	padding-top:10px;
}
#userReview{
	width:800px;
	height:100px;
	margin:0px auto;
}
#userReview span{
	cursor:pointer;
}
.checkedstar{
	color: orange;
}
.prating{
width:200px;
height:25px;
margin:0px auto;
}
.prating span{
	font-size:24px;
	text-shadow:2px 2px 4px #444;
}

.uncheckedstar{
	color: #fff;
}

.ReviewBox{
	width:800px;
	padding: 40px;
	min-height:100px;
	margin:0px auto;
	border-top:1px solid #ccc;
}

.ReviewBox h2{
	display: inline;
	float:left;
}

.FirstReviewBox{
	width:800px;
	padding: 40px;
	min-height:100px;
	margin:0px auto;
	margin-top:100px;
	border-top:1px solid #ccc;
	display: inline-block;
}

.FirstReviewBox h2{
	display: inline;
	float:left;
}

.ratingfix{
	padding-left:20px;
	float:left;
	width:200px;
	height:25px;
	margin:0px auto;
}
.ratingfix span{
	padding-top:30px;
	font-size:13px;
	text-shadow:2px 2px 4px #444;
}
.textcomment{
	width:500px;
	clear:both;
	top:100px;
}

/* Detta är för admin */

#adminmenu{
	width:800px;
	height:200px;
	margin:0px auto;
	padding-top:30px;
}
#adminmenu ul{
	font-size:23px;
}
#adminmenu ul li{
	margin-top:20px;
}
#order-wr{
	width:1000px;
	min-height:200px;
	margin:0px auto;
}
.orderPlacer{
	width:1000px;
	height:50px;
	margin:0px auto;
	padding-top:20px;
	border-bottom:1px solid #ccc;
	font-size:21px;
	text-align:center;
}
.adminOrder{
	height:50px;
	width:100px;
	float:left;
	margin-left:50px;
}

.adminDate{
	height:50px;
	width:300px;
	float:left;
	margin-left:100px;
}
.adminOrderPlace table{
	margin:0px auto;
}
.adminOrderPlace table td{
	padding:5px 30px;
	text-align:center;
}
#orderCart{
	width:800px;
	height:200px;
	margin:0px auto;
	margin-top:50px;
}
#orderCart table{
	margin:0px auto;
}
#orderCart table td{
	padding:5px 30px;
	text-align:center;
}

.adminProductRow {
	width:1000px;
	height:100px;
	padding-top:50px;
	
	border-bottom:1px solid #ccc;
}
.adminProductRow [name=prodId], .adminProductRow [name=quantity], .adminProductRow [name=height], .adminProductRow [name=weight]{
	width:40px;
}
.adminProductRow [name=cost]{
	width:60px;
}

#body-wr1{
	width:1100px;
	min-height:1900px;
	background:#fff;
	margin:0px auto;
}
/* Slut på admin */

/*För mypage */
.userorderbox{
	padding-top:20px;
	width:900px;
	magin:0px auto;
}
.userOrderInfo table, .userOrderInfo th, .userOrderInfo td{
	text-align:center;
	
	
}
.orderTable{

	width:900px;
	border-collapse: collapse;
}
.trBorder{
	border-bottom:1px solid #000;
	border-top:1px solid #000;
	height:50px;
}
tr.animate td{
	
	
}

/* Slut på mypage */